@namespace My_Portfolio.Components
<div class="contact-info">
    <h2>Contact Me</h2>
    <p>Email: pranav.05a@gmail.com</p>
    <a href="https://linkedin.com/in/pranav-kumar-akunuri" target="_blank"><p>LinkedIn</p></a>
    <p>Location: Hyderabad, India</p>
</div>