@namespace My_Portfolio.Components
<div class="SocialLinks">
    <a href="https://github.com/PranavKumarAkunuri" target="_blank"><p>Github</p></a>
    <a href="https://linkedin.com/in/pranav-kumar-akunuri" target="_blank"><p>LinkedIn</p></a>
    <a href="https://www.instagram.com/pranav_05a/" target="_blank"><p>Instagram</p></a>
</div>